@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfProBlackItalic";
  src: url("./assets/fonts/SF-Pro-Black-Italic.OTF") format("woff");
}
@font-face {
  font-family: "SfProRegular";
  src: url("./assets/fonts/SF-Pro-Regular.OTF") format("woff");
}

.ant-table-cell::before {
  display: none !important;
  content: none !important;
}
