@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfProBlackItalic";
  src: url("./assets/fonts/SF-Pro-Black-Italic.OTF") format("woff");
}
@font-face {
  font-family: "SfProRegular";
  src: url("./assets/fonts/SF-Pro-Regular.OTF") format("woff");
}

.ant-table-cell::before {
  display: none !important;
  content: none !important;
}
.ant-input-outlined {
  border: 1px solid rgba(235, 237, 239, 1);
}

input::placeholder {
  color: rgba(143, 150, 163, 1) !important;
  font-size: 12px;
}

.ant-segmented-group {
  height: 100%;
}

.ant-segmented.ant-segmented-lg .ant-segmented-item-label {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px !important;
  font-weight: 300 !important;
  padding: 0px 15px !important;
}

.ant-select-selector {
  border: 1px solid rgba(235, 237, 239, 1) !important;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}

.ant-select-arrow {
  left: 8px;
  right: auto;
  inset-inline-end: 40px !important;
}

.ant-select-selector {
  padding-left: 32px !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  padding-inline-end: 0;
}

.ant-checkbox .ant-checkbox-inner {
  border-radius: 90px;
}
