@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfProBlackItalic";
  src: url("./styles/fonts/SF-Pro-Black-Italic.OTF") format("woff");
}
@font-face {
  font-family: "SfProRegular";
  src: url("./styles/fonts/SF-Pro-Regular.OTF") format("woff");
}
